# 2018년 03월 28일 점프투파이썬 2장 
## 데스트
- 숫자형
 1. 기능1
 2. 기능2
- 문자열
- 리스트

1.숫자형

2.문자열

In [6]:
print("3번째 수업")

3번째 수업

In [7]:
123

123

## 1절 숫자형

In [13]:
123

123

In [14]:
456

456

In [15]:
1 * 3

3

In [16]:
-7/4

-1.75

In [17]:
7//4

1

In [18]:
7%4

3

In [19]:
1 - 0.9

0.09999999999999998

## 2절 문자열

In [20]:
boy = "i am a boy"
boy

'i am a boy'

In [21]:
girl = "i am a girl"
girl

'i am a girl'

In [22]:
"i'm a girl"

"i'm a girl"

In [50]:
friend = """
i am a boy
i am a girl
"""

In [49]:
boy + ' ' + girl

'i am a boy i am a girl'

In [27]:
boy * 3

'i am a boyi am a boyi am a boy'

In [38]:
# 문자열 인덱싱
a= "Life is too short, You need Python"
a[0] + a[10] + a[30]

'Lot'

In [47]:
a = "20180328Sunny"
year = a [:4]
month = a [4:6]
day = a [6:8]
weather = a [8:]
year
month
print (year, month, day, weather)

2018 03 28 Sunny

In [42]:
print(day, '일', month, '달')

28 일 03 달

In [44]:
"day 년 month 월 day 일 날씨는 weather 입니다. "

'day 년 month 월 day 일 날씨는 weather 입니다. '

In [48]:
"{year} 년 {month} 월 {day} 일 날씨는 {weather} 입니다. " .format(year=year, month=month, day=day, weather=weather)

'2018 년 03 월 28 일 날씨는 Sunny 입니다. '

In [43]:
# 문자열 스라이싱  a<= : < b
a[12:16]

'y'

In [ ]:
### Lab 1
#### 수익 계산
- 변수 revenue를 생성 후 98456 할당 
- 변수 cost를 생성 후 45000
- 변수 profit을 생성 후 , revenue와 cost 차이 값으로 설정
- profit 출력

In [30]:
revenue = 98456
cost = 45000
profit = revenue - cost
print(profit)

53456

### Lab 2 
#### 문자열 다루기
- 변수 a를 생성해서, 문자열 "I love Python!"
- 변수 b를 생성해서, 문자열 "You hate Python!"

 문자열 내장감수

In [55]:
a = "hobby"
a. find ('b')

2

In [56]:
#
a.index('b')

2

In [59]:
# 문자열 삼입하기 
a = ","
a.join("홍길동")

'홍,길,동'

In [60]:
# 대문자
a = "I love Python"
a.upper()

'I LOVE PYTHON'

In [61]:
# 왼쪽 공백 지우기
a = " hi "
a.lstrip()

'hi '

In [62]:
a.rstrip()

' hi'

In [63]:
a.lstrip()

'hi '

In [64]:
# 문자열 나누기
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

### Lab 2 이어서

- 변수 a를 생성해서, 문자열 "I love Python!"
- 변수 b를 생성해서, 문자열 "You hate Python!"

- a에서 첫번째 0의 위치를 find()함수로 찾아보십오.
- b에서 첫번째 0의 위치를 index()함수로 찾아보사오.
- a의'0' 문자 개수를 세시오

In [98]:
a = "I love Python!"
n = "You hate Python!"
a.find ('o')

3

In [99]:
b.index('o')

1

In [100]:
a.count ('o')

2

In [89]:
a.upper ()

'I LOVE PYTHON!'

In [90]:
b.lower ()

'you hate python'

In [92]:
a_6 = a[0:7]
a_6

'I love '

In [93]:
a_6.rstrip()

'I love'

### 3
 문자열 포매팅
 - 변수 pi를 생성하고 3.141592를 할당하십시오.
 - 변수 sq_root를 생성하고 1.1429를 할당하시오

In [94]:
pi = 3.141592
sq_root = 1.41429

In [102]:
"Pi is {pi} and square root of 2 is {sq_root}" .format(pi=pi, sq_root=sq_root)

'Pi is 3.141592 and square root of 2 is 1.41429'

## 3절 리스트