# 점프투 파이썬 2장 이어서
## 3절 리스트

In [2]:
print ('안녕하세요')

안녕하세요

In [3]:
print (123)

123

In [5]:
# 리스트 만들기

In [7]:
# 빈 리스트
a = []

In [8]:
c = ['Life', 'is', 'too', 'short']

In [9]:
d = [1,2,"life","is"]
d

[1, 2, 'life', 'is']

In [27]:
e = [1, 2, ['life', 'is']]
e

[1, 2, ['life', 'is']]

# 리스트의 인덱싱

In [15]:
[0,5] # 공간 상 첫째부터 다섯번째까지

[0, 5]

In [17]:
a = [1,2,3]
a

[1, 2, 3]

In [18]:
a[1]

2

In [19]:
a[-1]

3

In [28]:
e

[1, 2, ['life', 'is']]

In [29]:
e[2]

['life', 'is']

In [30]:
e[2][0]

'life'

### 리스트의 슬라이싱

In [32]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [34]:
b = a[0:2]
b

[1, 2]

In [38]:
b = a[:2]
b

[1, 2]

### 리스트의 연산자

In [40]:
print(a, b)

[1, 2, 3, 4, 5] [1, 2]

In [42]:
c = a + b
c

[1, 2, 3, 4, 5, 1, 2]

In [43]:
c * 2

[1, 2, 3, 4, 5, 1, 2, 1, 2, 3, 4, 5, 1, 2]

### 리스트의 수정,변경,삭제

In [44]:
# 하나의 값 수정하기 
a = [1,2,3]

In [45]:
a[2] = 4
a

[1, 2, 4]

In [49]:
# 연속된 범위값 수정
a[2:3]

['b']

In [50]:
a[2:3] = ['a','b','c']
a[2]

[1, 'a', 'a', 'b', 'c', 4]

In [53]:
# 중첩하여 수정
a[2] = ['a','b','c']

In [55]:
# 리스트 요소 삭제
a = [1,2,3]
del a[2]
a

[1, 2]

In [57]:
a = [1,2,3,4]
del a[1:3]
a

[1, 4]

### 리스트 함수

In [60]:
# 리스트 요소 추가
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [61]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [62]:
# 리스트 정렬
a = [1,2,4,5,6,7]
a.sort()
a

[1, 2, 4, 5, 6, 7]

In [63]:
# 리스트 뒤집기
a = [1,2,4,5,6,7]
a.reverse()
a

[7, 6, 5, 4, 2, 1]

In [64]:
# 위치 반환
a =[1,2,3]
a.index(3)
# 3의 위치는?

2

In [65]:
# 리스트의 요소 삽입
a = [1,2,3]
a.insert (0,4)
a

[4, 1, 2, 3]

In [66]:
a.insert(3,5)
a

[4, 1, 2, 5, 3]

In [68]:
# 리스트 요소 제거
a = [1,2,3,1,2,3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [69]:
# 리스트 요소 꺼내기
a = [1,2,3]
a.pop()

3

In [70]:
a

[1, 2]

In [71]:
# 요소 개수 세기
a = [1,2,3,1]
a.count(1)

2

In [74]:
#리스트 확장
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [78]:
a.append([5,6])
a

[1, 2, 3, 4, 5, [5, 6]]

### 튜플

In [77]:
t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = ('a','b')
print(t1,t2,t3,t4)

() (1,) (1, 2, 3) ('a', 'b')

In [79]:
del t3[0]

TypeError: 'tuple' object doesn't support item deletion

### 딕셔너리

In [81]:
dic = {'name':'김엘레나','phone':'01012345678'}

In [82]:
print(dic)

{'name': '김엘레나', 'phone': '01012345678'}

In [83]:
dic['name']

'김엘레나'

In [84]:
dic['phone']

'01012345678'

In [85]:
dic = {'name':'김엘레나', 'name':'홍길동'}

In [86]:
dic['name']

'홍길동'

In [87]:
# 키가 뭐뭐 있나?
dic.keys()

dict_keys(['name'])

In [88]:
# 값이 뭐뭐 있나?
dic.values()

dict_values(['홍길동'])

### 불 자료형(bool)

In [89]:
# T/F
# True/False
3 > 1

True

In [90]:
1 > 3

False

In [94]:
if "ㅁ":
    print("참")
else:
    print("거짓")

참

### 3장 제어문
### 1 if문

In [99]:
money = 0 # 돈이 있다.
if money:
    print("택시 타자")
    
else:
    print("걸어 가야해ㅠ")

걸어 가야해ㅠ

In [102]:
# 기본구조
if 조건문:
    수행 문장1
    수행 문장2
else:
    수행 문장A
    수행 문장B
 # Tab 1번 또는 spacebar 4번

SyntaxError: invalid syntax (<ipython-input-102-aa2449ec769b>, line 3)

In [104]:
money = 2.000 # 내 돈
if money >= 3.000:
    print("택시 타자")
else:
    print("걸어 가자")

걸어 가자

In [106]:
money = 2.000  # 내 돈
card = 1 # 카트기 있다
if money >= 3000 or card:
    print("택시 타자")
else:
    print("걸어 가자")

택시 타자

In [109]:
pocket = ['paper','handphone','card']
if 'money' in pocket:
      print("택시 타자")
else:
    if card:
    print("택시 타자")
    else:
    print("걸어 가자")

IndentationError: expected an indented block (<ipython-input-109-e1bde0d15971>, line 6)

In [111]:
# elif를 사용
if 'money' in pocket:
         print("택시")
elif 'card' in pocket:
      print("택시")
elif:
      print("택시")

SyntaxError: invalid syntax (<ipython-input-111-28e882e2fe2a>, line 6)

In [ ]:
# 구문 
if <조건문>:
    수행 문장1
    수행 문장2
elif:<조건문>
    수행문장1 
elif:<조건문>
    수행문장1
elif:<조건문>
    수행문장1
elif:<조건문>
    수행문장1